
<div class="card">
<div class="card-body">

    <span class="small text-muted">
        Copyright <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GPL-3.0-or-later</a> &copy;
        2019 Ravendyne Inc
    </span>
</div>
</div>

