
<div class="card">
<div class="card-body">

    <h5 class="card-title">Users</h5>

<form class="form-inline" id="admin-user-form">

    <input type="hidden" id="user-id">

    <label class="sr-only" for="user-group">Group</label>
    <select class="custom-select mb-2 mr-sm-2" id="user-group">
        <option value="2">Member</option>
        <option value="3">Manager</option>
    </select>

    <label class="sr-only" for="user-username">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-username" placeholder="Username">

    <label class="sr-only" for="user-email">Email</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-email" placeholder="Email">

    <label class="sr-only" for="user-password">Password</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-password" placeholder="Password">

    <button type="button" name="user-add-button" class="btn btn-success mb-2 mr-2" onclick="HEH_admin_add_user();">Add</button>
    <button type="button" name="user-update-button" class="btn btn-warning mb-2 mr-2" onclick="HEH_admin_edit_user();">Update</button>
    <button type="reset" name="user-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

<div class="table-responsive">
<table class="table" id="admin-users-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row d-none">
        <th scope="row">#</th>
        <td><button type="button" name="user-delete-button" class="close float-none"><span aria-hidden="true">&times;</span></button></td>
        <td>#</td>
        <td>#</td>
        </tr>
    </tbody>
</table>
</div>

</div>
</div> <!-- card -->

<div class="card mt-3">
<div class="card-body">

    <h5 class="card-title">User Meals</h5>

<hr>

<form class="form-inline" id="admin-meal-form">

    <input type="hidden" id="meal-id">

    <label class="sr-only" for="meal-date">Date</label>
    <div class="input-group mb-2 mr-sm-2 date" id="meal-date-dtp" data-target-input="nearest">
        <input type="text" id="meal-date" class="form-control datetimepicker-input" data-target="#meal-date-dtp" placeholder="Date" size="8"/>
        <div class="input-group-append" data-target="#meal-date-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

    <label class="sr-only" for="meal-time">Time</label>
    <div class="input-group mb-2 mr-sm-2 date" id="meal-time-dtp" data-target-input="nearest">
        <input type="text" id="meal-time" class="form-control datetimepicker-input" data-target="#meal-time-dtp" placeholder="Time" size="6"/>
        <div class="input-group-append" data-target="#meal-time-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock"></i></div>
        </div>
    </div>

    <label class="sr-only" for="meal-name">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="meal-name" placeholder="Meal">

    <label class="sr-only" for="meal-calories">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="meal-calories" placeholder="Calories">

    <button type="button" name="meal-add-button" class="btn btn-success mb-2 mr-2" onclick="HEH_admin_add_meal();">Add</button>
    <button type="button" name="meal-update-button" class="btn btn-warning mb-2 mr-2" onclick="HEH_admin_edit_meal();">Update</button>
    <button type="reset" name="meal-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

<script>
$(document).ready(function(){
    $('#admin-meal-form #meal-date-dtp').datetimepicker({
        format: 'L'
    });
    $('#admin-meal-form #meal-time-dtp').datetimepicker({
        format: 'LT'
    });
});
</script>

<hr>

<div class="table-responsive">
<table class="table" id="admin-meals-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Meal</th>
        <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row d-none">
        <th scope="row">#</th>
        <td><button type="button" name="meal-delete-button" class="close float-none"><span aria-hidden="true">&times;</span></button></td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        </tr>
    </tbody>
</table>
</div>

</div>
</div> <!-- card -->
