
<div class="card">
<div class="card-body">

    <h5 class="card-title">Users</h5>

<form class="form-inline" id="manager-user-form">

    <input type="hidden" id="user-id">

    <!-- <label class="sr-only" for="user-group">Group</label>
    <select class="custom-select mb-2 mr-sm-2" id="user-group">
        <option value="2">Member</option>
        <option value="3">Manager</option>
    </select> -->
    <select class="d-none" id="user-group">
        <option value="2">Member</option>
    </select>

    <label class="sr-only" for="user-username">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-username" placeholder="Username">

    <label class="sr-only" for="user-email">Email</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-email" placeholder="Email">

    <label class="sr-only" for="user-password">Password</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="user-password" placeholder="Password">

    <button type="button" name="user-add-button" class="btn btn-success mb-2 mr-2" onclick="HEH_manager_add_user();">Add</button>
    <button type="button" name="user-update-button" class="btn btn-warning mb-2 mr-2" onclick="HEH_manager_edit_user();">Update</button>
    <button type="reset" name="user-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

<div class="table-responsive">
<table class="table" id="manager-users-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row d-none">
        <th scope="row">#</th>
        <td><button type="button" name="user-delete-button" class="close float-none"><span aria-hidden="true">&times;</span></button></td>
        <td>#</td>
        <td>#</td>
        </tr>
    </tbody>
</table>
</div>

</div>
</div>
