
<div class="card mx-auto" style="max-width: 400px;">

<svg class="bd-placeholder-img card-img-top" width="100%" height="72" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
<rect width="100%" height="100%" fill="#696969">
</rect>
</svg>

<div class="card-body">

    <h5 class="card-title">Eat Healthy Site
    <small class="text-muted">(just don't eat this one)</small>
    </h5>

<form id="login-form">

    <div class="form-group">
        <label for="login-identity">Email address</label>
        <input type="email" id="login-identity" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" class="form-control" placeholder="Password">
    </div>

    <div class="d-none form-group form-check">
        <input type="checkbox" id="login-remember" class="form-check-input">
        <label class="form-check-label" for="login-remember">Remember me</label>
    </div>

    <div class="form-group">
        <a class="small" id="registration-link" href="javascript:void(0);" onclick="HEH_show_registration();">
            Don't have a login? Click here to register!
        </a>
    </div>

    <button type="button" name="login-button" class="btn btn-warning float-right" onclick="HEH_do_login();">Login <span class="fa fa-arrow-right"></span></button>

</form>

</div> <!-- card-body -->

</div> <!-- card -->
