
<div class="card mx-auto" style="max-width: 400px;">

<svg class="bd-placeholder-img card-img-top" width="100%" height="72" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
<rect width="100%" height="100%" fill="#696969">
</rect>
</svg>

<div class="card-body">

    <h5 class="card-title">Site Registration
    </h5>

<form id="registration-form">

    <div class="form-group">
        <label for="registration-username">Username</label>
        <input type="email" id="registration-username" class="form-control" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>

    <div class="form-group">
        <label for="registration-email">Email address</label>
        <input type="email" id="registration-email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="registration-password">Password</label>
        <input type="password" id="registration-password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="registration-password-repeat">Password (again)</label>
        <input type="password" id="registration-password-repeat" class="form-control" placeholder="Repeat password">
    </div>

    <button type="button" name="registration-button" class="btn btn-warning float-right" onclick="HEH_do_register();">Register <span class="fa fa-arrow-right"></span></button>

</form>

</div> <!-- card-body -->

</div> <!-- card -->
