
<div class="card">
<div class="card-body">
    <h5 class="card-title">My Meals</h5>

<hr>

<form class="form-inline" id="member-filter-form">

    <label class="sr-only" for="filter-date-from-dtp">Date From</label>
    <div class="input-group mb-2 mr-sm-2 date" id="filter-date-from-dtp" data-target-input="nearest">
        <input type="text" id="filter-date-from" class="form-control datetimepicker-input" data-target="#filter-date-from-dtp" placeholder="Date From" size="8"/>
        <div class="input-group-append" data-target="#filter-date-from-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    
    <label class="sr-only" for="inlineFormInputGroupUsername2">Date To</label>
    <div class="input-group mb-2 mr-sm-2 date" id="filter-date-to-dtp" data-target-input="nearest">
        <input type="text" id="filter-date-to" class="form-control datetimepicker-input" data-target="#filter-date-to-dtp" placeholder="Date To" size="8"/>
        <div class="input-group-append" data-target="#filter-date-to-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

    <label class="sr-only" for="filter-time-from">Time From</label>
    <div class="input-group mb-2 mr-sm-2 date" id="filter-time-from-dtp" data-target-input="nearest">
        <input type="text" id="filter-time-from" class="form-control datetimepicker-input" data-target="#filter-time-from-dtp" placeholder="Time From" size="6"/>
        <div class="input-group-append" data-target="#filter-time-from-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock"></i></div>
        </div>
    </div>

    <label class="sr-only" for="filter-time-to">Time to</label>
    <div class="input-group mb-2 mr-sm-2 date" id="filter-time-to-dtp" data-target-input="nearest">
        <input type="text" id="filter-time-to" class="form-control datetimepicker-input" data-target="#filter-time-to-dtp" placeholder="Time To" size="6"/>
        <div class="input-group-append" data-target="#filter-time-to-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock"></i></div>
        </div>
    </div>

    <button type="button" name="filter-filter-button" class="btn btn-primary mb-2 mr-2" onclick="HEH_members_list_meals();">Filter entries</button>
    <button type="reset" name="filter-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

<script>
$(document).ready(function(){
    $('#filter-date-from-dtp').datetimepicker({
        format: 'L'
    });
    $('#filter-date-to-dtp').datetimepicker({
        format: 'L'
    });
    $('#filter-time-from-dtp').datetimepicker({
        format: 'LT'
    });
    $('#filter-time-to-dtp').datetimepicker({
        format: 'LT'
    });
});
</script>

<hr>

<form class="form-inline" id="member-meal-form">

    <input type="hidden" id="meal-id">

    <label class="sr-only" for="meal-date">Date</label>
    <div class="input-group mb-2 mr-sm-2 date" id="meal-date-dtp" data-target-input="nearest">
        <input type="text" id="meal-date" class="form-control datetimepicker-input" data-target="#meal-date-dtp" placeholder="Date" size="8"/>
        <div class="input-group-append" data-target="#meal-date-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

    <label class="sr-only" for="meal-time">Time</label>
    <div class="input-group mb-2 mr-sm-2 date" id="meal-time-dtp" data-target-input="nearest">
        <input type="text" id="meal-time" class="form-control datetimepicker-input" data-target="#meal-time-dtp" placeholder="Time" size="6"/>
        <div class="input-group-append" data-target="#meal-time-dtp" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock"></i></div>
        </div>
    </div>

    <label class="sr-only" for="meal-name">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="meal-name" placeholder="Meal">

    <label class="sr-only" for="meal-calories">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="meal-calories" placeholder="Calories">

    <button type="button" name="meal-add-button" class="btn btn-success mb-2 mr-2" onclick="HEH_members_add_meal();">Add</button>
    <button type="button" name="meal-update-button" class="btn btn-warning mb-2 mr-2" onclick="HEH_members_edit_meal();">Update</button>
    <button type="reset" name="meal-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

<script>
$(document).ready(function(){
    $('#member-meal-form #meal-date-dtp').datetimepicker({
        format: 'L'
    });
    $('#member-meal-form #meal-time-dtp').datetimepicker({
        format: 'LT'
    });
});
</script>

<hr>

<div class="table-responsive">
<table class="table" id="member-meals-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Meal</th>
        <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row d-none">
        <th scope="row">#</th>
        <td><button type="button" name="meal-delete-button" class="close float-none"><span aria-hidden="true">&times;</span></button></td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        </tr>
    </tbody>
</table>
</div>

</div>
</div>
