
<div class="card d-none" id="top-card">
<div class="card-body">
    <h5 class="card-title">Healthy Eating Habits <span class="d-none" id="role-title">[manager]</span></h5>

    <div class="row">
    <div class="col-sm-10">
    <form class="form-inline" id="user-settings-form">

        <label class="sr-only" for="settings-calories">Calories</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="settings-calories" placeholder="Max calories per meal">

        <button type="button" name="settings-update-button" class="btn btn-warning mb-2 mr-2" onclick="HEH_members_update_settings();">Update</button>
        <!-- <button type="button" class="btn btn-warning mb-2 mr-2" onclick="HEH_members_refresh_settings();">Refresh</button> -->

    </form>
    </div>

    <div class="col-sm-2">
        <button type="button" name="logout-button" class="btn btn-warning float-right" onclick="HEH_do_logout();">Logout <span class="fa fa-sign-out-alt"></span></button>
    </div>

    </div>
</div>
</div>
